.products{
    display: flex;
    justify-content: space-around;
}

.product{
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.1s ease;
}
.activeProduct{
    background-color: rgb(171, 242, 105);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.1s ease;
}
.activeProduct:hover{
    background-color: aquamarine;
    transform: scale(1.1);
}
.product:hover {
    background-color: aquamarine;
    transform: scale(1.1);
}
p{
    margin: 0;
}
h1{
    margin:0;
}